body{
  background-color: #efefef;
  font-size: 18px;
}

#wrapper{
  width: 512px;
  height: 752px;
  margin: 0 auto;
  padding-top: 50px;
  background-color: white;
  box-shadow: 0 0 5px #d6d6d6;
}

img{
  width: 180px;
  height: 180;
  border: 0px;
}

.header{
  font-size: 12px;
  text-align: center;
}

.info{
  padding: 5px 0px 0px 55px;
}

ul{
  padding: 0px 0px 0px 75px;
}

p{
  line-height: 0px;
}

.line_top{
  border-top: 1px solid #7b7b7b;
  margin: 20px 40px 0px 40px;;
  padding: 15px 0px 0px 15px;
}
